body {
    background: linear-gradient(90deg, rgba(104, 72, 104,1) 20.328125854333244%,rgba(192, 29, 182,1) 55.82812726497651%,rgba(186, 24, 191,1) 59.70312741895518%,rgba(176, 15, 207,1) 66.9531277070443%,rgba(158, 0, 236,1) 80.32812823851904%);
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
}

h3 {
    font-size: 2.1875rem;
    font-weight: 300;
    color: white;
}

#center {
    display: block;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%,-50%);
    position: absolute;
}

#pomo {
    font-size: 1050%;
    letter-spacing: -5px;
    color: #fff;
}

#message {
    display: block;
    font-size: 3rem;
    color: #fff;
}

#main-focus {
    margin-top: 55px;
}

#main-subject {
    border-radius: 5px;
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    background: none;
    outline: none;
    color: #fff;
    font-size: 2rem;
    padding-left: 5px;
    padding-right: 5px;
}

#todo {
    border-radius: 5px;
    margin-bottom: 0.6rem;
    bottom: 0;
    right: 0.6rem;
    position: absolute;
    width: 320px;
    background-color: rgba(0,0,0,0.5);
    height: auto;
    text-align: left;
}

#todo-top {
    padding: 0.5rem;
}

#today-span {
    font-weight: 500;
    position: relative;
    color: #fff;
}

#todo-list {
    position: relative;
    width: 100%;
    display: block;
    min-height: 30px;
    max-height: 300px;
    overflow: auto;
}

#todo-footer{
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    position: static;
}

#todo-footer-input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 500;
    opacity: 0.7;
}

#todo-ol {
    color: #fff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0.5rem;
    cursor: default;
}

#todo ol li {
    display: block;
}

#x-btn {
    user-select: none;
    display: block;
    margin: 0;
    position: relative;
    top: 0;
    float: right;
    background: none;
    color: #fff;
    font-weight: 800;
    border: none;
    outline: none;
}

#x-btn:hover {
   color: blueviolet;
}

#desc-span {
    user-select: none;
    margin: 0 20px;
    display: block;
    cursor: default;
    word-wrap: break-word;
}

#check-input {
    float: left;
    margin: 0;
}