body {
    background: linear-gradient(90deg, rgba(243, 72, 104,1) 20.328125854333244%,rgba(192, 29, 182,1) 55.82812726497651%,rgba(186, 24, 191,1) 59.70312741895518%,rgba(176, 15, 207,1) 66.9531277070443%,rgba(158, 0, 236,1) 80.32812823851904%);
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align:center;
}

h1 {
    font-size: 8rem;
    color: white;
}

h3 {
    font-size: 3rem;
    color: #fff;
}

#main_subject {
    border-radius: 5px;
    border: 2px solid #fff;
    border-left: none;
    border-right: none;
    border-top: none;
    background: none;
    padding: 8px;
    outline: none;
    color: #fff;
    font-size: 2rem;
}