extends layout

block title
    title Precious Time

block content
    div(id='pomo') 25:00

    span(id='message') Good evening, Samuel.

    div(id='main-focus')
        h3 What is your main focus today?
        input(id='main-subject' type='text')

    div(id='todo')
        div(id='todo-top')
            span(id='today-span') Today
        div(id='todo-list')
        div(id='todo-footer')
            input(id='todo-footer-input' type='text' placeholder="New Todo" onkeydown="pressEnter(event)")